<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida - Criação</title>
</head>
<body>
    <h1>Criação de Partida</h1>
    <form method="post" action = "/partidaRead">
        <label for="localRealizacao">Local:</label>
        <input type="text" id="localRealizacao" name="localRealizacao"><br><br>

        <label for="dataRealizacao">Data:</label>
        <input type="date" id="dataRealizacao" name="dataRealizacao"><br><br>

        <label for="timeBegin">Horário Início:</label>
        <input type="time" id="timeBegin" name="timeBegin"><br><br>

        <label for="timeEnd">Horário Fim:</label>
        <input type="time" id="timeEnd" name="timeEnd"><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>