<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">

    <title>Partida - Leitura</title>
</head>
<body>
  <h1>Leitura da Partida</h1>
  <label>Local:</label>
  <label th:text="${modelPartida.localRealizacao}"></label><br>

  <label>Data:</label>
  <label th:text="${modelPartida.dataRealizacao}"></label><br>

  <label>Horário Começo:</label>
  <label th:text="${modelPartida.timeBegin}"></label><br>

  <label>Horário Fim:</label>
  <label th:text="${modelPartida.timeEnd}"></label><br>

  <label>Duração em Horas:</label>
  <label th:text="${modelPartida.calculeDuration()}"></label>
</body>
</html>