<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida - Dados de Uma</title>
</head>
<body>
    <a href="/partida/">Início</a>
    <h1>Dados da Partida</h1>
    <form method="post" action = "/partida/save">
        <input th:if="${modelPartida != null}" type="hidden" name="_method" value="put">
        <input type="hidden" name="id" th:value="${modelPartida?.id}">

        <label for="localRealizacao">Local de Realização:</label>
        <input type="text" id="localRealizacao" name="localRealizacao" th:value="${modelPartida?.localRealizacao}"><br><br>

        <label for="dataRealizacao">Data de Realização:</label>
        <input type="date" id="dataRealizacao" name="dataRealizacao" th:value="${modelPartida?.dataRealizacao}"><br><br>

        <label for="timeBegin">Horário de Início:</label>
        <input type="time" id="timeBegin" name="timeBegin" th:value="${modelPartida?.timeBegin}"><br><br>

        <label for="timeEnd">Horário de Fim:</label>
        <input type="time" id="timeEnd" name="timeEnd" th:value="${modelPartida?.timeEnd}"><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>