<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">

    <title>Partida - Visualização</title>
</head>
<body>
  <a href="/partida/">Início</a>
  <h1>Visualização de Partida</h1>
  <label>Local de Realização:</label>
  <label th:text="${modelPartida.localRealizacao}"></label><br>

  <label>Data de Realização:</label>
  <label th:text="${modelPartida.dataRealizacao}"></label><br>

  <label>Horário de Início:</label>
  <label th:text="${modelPartida.timeBegin}"></label><br>

  <label>Horário de Fim:</label>
  <label th:text="${modelPartida.timeEnd}"></label><br>

  <label>Duração em Horas:</label>
  <label th:text="${modelPartida.calculeDuration()}"></label>
</body>
</html>